* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {

    padding: 16px 20px;
    background-color: #ff900E;
    border-radius: 7px;
    color: #fff;
    border: none;
    font-size: 1.25rem;
    margin: 25px 0px;
}

/* header style related */

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 2.5rem;
    color: #131313;
    font-weight: 700;
}

nav>ul {
    display: flex;
    list-style: none;
    align-items: center;
}

li a {
    text-decoration: none;
    margin-right: 2rem;
    color: #474747;
    font-weight: 500px;
}


/* Banner style related */

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {

    font-size: 4rem;
    font-weight: 700;
    color: #131313
}

.banner-description {

    font-size: 16px;
    color: #727272;
    font-weight: 400;
}

.banner-container img {

    width: 100%;
}


/* Media query style related */

/* mobile Device for responsive */
@media screen and (max-width:576px) {

    header {

        padding: 20px;
    }

    nav {
        flex-direction: column;
    }
}

/* Medium devise for responsive */

@media screen and (min-width:578px) and (max-width:980px) {
    
    nav{
        flex-direction: column;
    }
    header{
        padding: 50px;
    }
}

