
*{
    margin: 0;
    padding: 0;
}

*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}


.btn-primary {

    padding: 16px 20px;
    background-color: #ff900E;
    border-radius: 7px;
    color: #fff;
    border: none;
    font-size: 1.25rem;
    margin: 25px 0px;
}

/* header style related */

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-title {
    font-size: 2.5rem;
    color: #131313;
    font-weight: 700;
}

nav>ul {
    display: flex;
    list-style: none;
    align-items: center;
}

li a {
    text-decoration: none;
    margin-right: 2rem;
    color: #474747;
    font-weight: 500px;
}


/* Banner style related */

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {

    font-size: 4rem;
    font-weight: 700;
    color: #131313
}

.text-light-gray {
    font-size: 16px;
    color: #727272;
    font-weight: 400;
}

.banner-container img {
    width: 100%;
}

.primary {
    color: #727272;
}

.text-primary {
    color: #ff900E;
}

/* main style */

main {
    max-width: 1440px;
    margin: 30px 100px 30px 210px;


}

.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
}

.teams-content {
    padding-left: 70px;
    padding-right: 70px;
}

.teams-title {
    font-size: 2.8rem;
}


/* Feature Style related */
.feature {
    display: flex;
    margin-top: 130px;
    gap: 100px;
}

.feature-img{
    width:100%;
} 


.feature-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: #131313;
}

.feature .feature-title {
    border-left: 5px solid #ff900E;
    padding-left: 20px;
}

.feature-content .cards {
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding-top: 20px;
    margin-top: 50px;
    width:100%;
    
}

.card-title {
    font-size: 1.25rem;
}

.ten-years-base h2 {
    font-size: 4rem;
    margin: 0px;

}
.ten-years-base p{
     font-size: 1.5rem;
}



.ten-years-base {
    width: 340px;
    padding: 40px;
    background: #ff900E;
    border-radius:8px;
    color: #fff;
    text-align: center;
    position: relative;
    bottom: 100px;
}


/* facts section Style */

.facts-card-container {
    display: flex;
    justify-content: space-around;
}

.card {
    border-radius: 8px;
    padding: 30px;
    border: 1px solid gray;
    text-align: center;
}

.card-stats {
    font-size: 2.5rem;
    color: #474747;
    margin: 10px 0px;
}

.card-title {
    padding-top: 0px;
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 5px;
}


/* Sponsors style */

.section-sponsors {

    text-align: center;
    margin-top: 100px;
}

.sponsors-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: #131313;
    margin-bottom: 5px;
}

.sponsors-description {
    color: #727272;
    margin-bottom: 50px;

}

.founder-logo-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}


.founder-logo-container img {

    width: 165px;
}

/*footer style */

.footer-des {
    width: max-content;
    border-radius: 8px;
    background: #FFF4E7;
    padding: 30px 200px;
    text-align: center;
    color: #727272;
    margin: 0 auto;
    display: flex;

    margin-top: 200px;
}






/* Media query style related */

/* mobile Device for responsive */
@media screen and (max-width:576px) {

    header {
        padding: 20px;
    }

    nav,
    .teams-container,
    .facts-card-container,
    .founder-logo-container,
    .feature {
        flex-direction: column;
    }

    .teams-img-container {

        grid-template-columns: repeat(1, 1fr);
    }
    .ten-years-base {
        position: static;
        max-width: 300px;
    }

    .footer-des {

        width: 200px;
        padding: 0px;
    }

    img {
        width: 100%;
    }

    main {
        margin: 0px;
    }

    .teams-content,
    .facts-card-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .facts-card-container {
        gap: 20px;
    }
    .feature-content .cards {
        width: 100%;
    }
}


/* Medium devise for responsive */

@media screen and (min-width:578px) and (max-width:980px) {

    nav,.feature,
    .teams-container,
    .founder-logo-container {
        flex-direction: column;
    }

    .feature-content .cards {
        width: 400px;
    }
    .feature .feature-title{
        width: 100%;
    }
    header {
        padding: 50px;
    }

    .teams-content {
        padding: 0px;
    }

    main {
        padding-right: 150px;
    }
}